body {
    background-image: url('https://scontent-lga3-1.xx.fbcdn.net/v/t1.0-9/70983121_10157364001006206_2529946985310453760_o.jpg?_nc_cat=111&_nc_sid=dd7718&_nc_ohc=tZKALhydxZwAX-w59Wt&_nc_ht=scontent-lga3-1.xx&oh=1a937ca09349d232206c5fb65641a3d8&oe=5E8E8BC7');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
.nav{
    background-color:rgba(32.9, 32.9, 68.6, 0.25);
    color: white;
}
.col-12{
    text-align: center;
}
.top-buffer { margin-top:100px; }
.col-12{
    color: white;
}
.col{
    text-align: center;
}
a{
    color: white;
}