body {
    background-image: url('../image/hudsonyard.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
.nav{
    
    color: white;
    
}
.col-12{
    text-align:center;
}
.top-buffer { margin-top:100px; }
.col-12{
    color: white;
}
.col{
    text-align: center;
}
a{
    color: white;
}
.beach{
    background-image: url('../image/beach.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}
.suraj{
    background-image: url('../image/suraj.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
