
ul {
    list-style: none;
    /* display: flex; */
   
    /* justify-content: space-between; */
}
li {
    margin: 1em;
}
 a {
     text-decoration: none;
     color: black;
 }
  a:hover {
      color:#1792d2;
  }